<!-- Login and signup form -->
{% macro render_form(form, pin='') %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <!-- Username field -->
        <div class="mb-4 username_field_wrapper">
            {{
                form.username.label(
                    class="username_field_label"
                )
            }}
            <span class="text-danger fs-3">
                {{pin}}
            </span>
            {{  
                form.username(
                    class="form-control username_field"
                )
            }}
            {% for error in form.username.errors %}
                <span> {{error}} </span>
            {% endfor %}
        </div>
        <!-- /Username field -->
        <!-- Password field -->
        <div class="mb-2 password_field_wrapper">
            {{
                form.password.label(
                    class="password_field_label"
                )
            }}
            <span class="text-danger fs-3">
                {{pin}}
            </span>
            {{ 
                form.password(
                    class="form-control password_field"
                )
            }}
            {% for error in form.password.errors %}
                <span> {{error}} </span>
            {% endfor %}
        </div>
        <!-- /Password field -->
        <!-- Show_password checkbox -->
        <div class="mb-5 show_password_field_wrapper">
            {{ form.show_password(class="form-check-input") }}
            {{ form.show_password.label }}
        </div>
        <!-- /Show_password checkbox -->
        <!-- Submit button -->
        <div>
            {{ 
                form.submit(
                    class="btn btn-outline-light"
                )
            }}
        </div>
        <!-- /Submit button -->
    </form>
{% endmacro%}