{% extends 'base.html' %}

{% block title %}Sign up{% endblock title %}

{% block content %}
    <h1 style='text-align:center'>Todo App</h1>
    <form action="#" method="post">
        <p>Username*:</p>
        <p><input type="text" name="nm"></p>
        <p>Password*:</p>
        <p><input type="text" name="pw"/></p>
        <p><input type="submit" name="submit"></p>
    </form>
    <br />
    <p>
        Already have an account?
        <a href="{{ url_for('auth.login') }}">log in</a>
    </p>
{% endblock content %}